#main-div{
    display: flex;
    flex-direction: column;   
    align-items: center; 
}

#pipe-title{
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#setting-div{
    display: flex;
    flex-direction: row;
    border: 2px solid;
    margin: 1vmin;
    align-items: center;
}

#size-text {
    display: flex;
}

#grid-div{
    display: flex;
    flex-direction: column;
    border: 2px solid;
}

.grid-row{
    display: flex;
    flex: 1;
}

.grid-tile{
    position: relative;
    border: 1px solid black;
    flex: 1;
    background-size: contain;
    background-position: center;
}

#buttons-div{
    flex-direction: row;
    border: 2px solid;
    margin: 1vmin;
    padding: 0.5vmin;
}

#reset-button #pb-reset-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    size: 3vmin;
}

#pb-textbox {    
    border: 2px solid;
    margin: 1vmin;
    width: auto;
    height: auto;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    white-space: pre-wrap;
}

#grid-overlay{
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    z-index: 9999;
    overflow: auto;
}

#overlay-message{
    white-space: pre-wrap;
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 10%;
}

#size-range:hover{
    opacity: 1; /* Fully shown on mouse-over */
}

#size-range{
    border: 2px solid;

}

#debug-textbox{
    white-space: pre-wrap;
    border: 2px solid;
    margin: 1vmin;
    width: 15rem;
    height: 8rem;
    overflow: auto;
}

#size-textbox{
    border: 2px solid;
    margin: 1vmin;
    width: 1.5rem;
    height: 1rem;
    font-size: 1rem;
    text-align: center;
}
