* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
}

button {
    font: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

dialog {
    justify-content: center;
    text-align: center;
    border: 1px solid black;

}

dialog h1{
    margin: 2rem;
    margin-top: 20%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#grid-div{
    display: flex;
    flex-direction: column;
    border: 2px solid;
}

.grid-row{
    display: flex;
}

.grid-tile{
    flex: 1;
    display: flex;
    aspect-ratio: 1;
    border: 1px solid black;
    background-size: contain;
    align-items: center;
    justify-content: center;
}

#main-div{
display: flex;
flex-direction: column;   
align-items: center; 
}

#buttons-div{
    flex-direction: row;
    border: 2px solid;
    margin: 1vmin;
    padding: 0.5vmin;
}

#timer-textbox{
    white-space: pre-wrap;
    border: 2px solid;
    margin: 1vmin;
    width: 15rem;
    height: 2rem;
    justify-content: center;
    overflow: auto;
}


